<%- include(`./partials/header.ejs`) %>

<!-- TODO: Criar um relatório por atendimento: Valores dos itens, data + Evolução -->

<div class="container my-3 d-flex flex-column gap-3">

    <div class="d-flex justify-content-between align-items-center">
        <h3 class="my-0">Olá dr. Magnovaldo, o que deseja:</h3>
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#data-modal">Consultar dados</button>
    </div>

    <hr class="my-0">

    <div class="bg-body-tertiary p-3 border rounded">
        <span class="bi bi-info-circle me-1"></span>
        Clique <a href="/question/1" class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-100-hover"><strong>aqui</strong></a> para saber os 5 itens com <strong>maior</strong> consumo nos atendimentos.
    </div>

    <div class="bg-body-tertiary p-3 border rounded">
        <span class="bi bi-info-circle me-1"></span>
        Clique em <a href="/question/3" class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-100-hover"><strong>aqui</strong></a> para saber quais foram os pacientes que tiveram <strong>reação alérgica grave</strong> no ano de <strong>2022</strong>.
    </div>

    <div>
        <br>
        <h4 class="mb-0">Gerador de Relatórios</h4>
    </div>

    <hr class="my-0">
    
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Por atendimento
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form method="get" action="/reports" class="input-group">
                        <label for="appointment_id" class="input-group-text bi bi-person"></label>
                        <div class="form-floating">
                            <select name="id_atendimento" id="appointment_id" class="form-select">
                                <% data.forEach(item => { %>
                                    <option value="<%= item.id_atendimento %>">Atendimento <%= item.id_atendimento %> - <%= item.nome %> - <%= item.data_atendimento %></option>
                                <% }); %>
                            </select>
                            <label for="appointment_id">Escolha o atendimento</label>
                        </div>
                        <button class="btn btn-light border">Gerar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Por períodos
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="/question/2" method="post" class="input-group">
                        <label for="start_date" class="input-group-text bi bi-calendar2"></label>
                        <div class="form-floating">
                            <input type="date" name="data_inicio" id="start_date" class="form-control">
                            <label for="start_date">Data de início</label>
                        </div>
                        <label for="end_date" class="input-group-text bi bi-calendar2"></label>
                        <div class="form-floating">
                            <input type="date" name="data_fim" id="end_date" class="form-control">
                            <label for="end_date">Data de fim</label>
                        </div>
                        <button class="btn btn-light border">Gerar</button>
                        <!-- TODO: Vai haver um erro -> Caso eu coloque a data de inicio maior que a data de fim, exibir uma mensagem de erro -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="modal modal-lg fade" id="data-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body d-flex flex-column gap-3">
                <div class="d-flex justify-content-between">
                    <h5 class="modal-title">Para onde deseja ir?</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <ul class="list-group list-group-flush">
                    <a href="/data/pacientes" class="list-group-item list-group-item-action">Pacientes</a>
                    <a href="/data/atendimentos" class="list-group-item list-group-item-action">Atendimentos</a>
                    <a href="/data/lancamentos" class="list-group-item list-group-item-action">Lançamentos</a>
                    <a href="/data/itens-disponiveis" class="list-group-item list-group-item-action">Itens disponíveis</a>
                    <a href="/data/evolucoes" class="list-group-item list-group-item-action">Evoluções</a>
                </ul>
            </div>
        </div>
    </div>
</div>

<%- include(`./partials/footer.ejs`) %>