<%- include(`../partials/header.ejs`) %>

<div class="container my-3 d-flex flex-column gap-3">
    <h1 class="display-5">Deseja realizar o atendimento?</h1>

    <hr class="my-0">

    <div>
        <strong>Nome do paciente:</strong> <%= usuario.nome %>
    </div>

    <div>
        <strong>Data do atendimento:</strong> <%= dataFormatter(dataAtendimento) %>
    </div>

    <br>

    <h1 class="display-6">Itens selecionados</h1>
    
    <hr class="my-0">
    
    <% if (columns && data) { %>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <% columns.forEach(column => { %>
                        <th scope="col"><%= column %></th>
                    <% }); %>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(item => { %>
                    <tr>
                        <td> <%= item[`Descrição`] %> </td>
                        <td> <%= item[`Quantidade`] %> </td>
                        <td> <%= moneyFormatter(item[`Valor unitário`]) %> </td>
                        <td> <%= moneyFormatter(item[`Valor a ser pago`]) %> </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <div class="bg-body-tertiary border radius p-3">Nenhum item foi selecionado!</div>
    <% } %>

</div>

<%- include(`../partials/footer.ejs`) %>