<%- include(`../partials/header.ejs`) %>

<div class="container my-3">
    <div class="d-flex flex-column gap-3">

        <h1 class="display-5">Nova Evolução</h1>
        <hr class="my-0">

        <form action="/form/nova-evolucao/1" method="post" class="d-flex flex-column gap-3" id="form" novalidate>
            <div class="input-group">
                <label for="appointment_id" class="input-group-text"><span class="bi bi-person"></span></label>
                <div class="form-floating">
                    <select name="id_atendimento" id="appointment_id" class="form-select">
                        <% data.forEach(item => { %>
                            <option value="<%= item.id_atendimento %>">Atendimento <%= item.id_atendimento %> - <%= item.nome %> - <%= item.cpf %> - <%= item.data_atendimento %></option>
                            <% }); %>
                        </select>
                    <label for="appointment_id">Deseja atualizar qual atendimento?</label>
                </div>
            </div>

            <div class="grid">

                <div class="input-group">
                    <label for="appointment_date" class="input-group-text"><span class="bi bi-calendar"></span></label>
                    <div class="form-floating">
                        <input type="date" name="appointment_date" id="appointment_date" class="form-control" onkeydown="return false" required>
                        <label for="appointment_date">Data da atualização</label>
                    </div>
                </div>
    
                <div class="input-group">
                    <label for="appointment_time" class="input-group-text"><span class="bi bi-clock"></span></label>
                    <div class="form-floating">
                        <input type="time" name="appointment_time" id="appointment_time" class="form-control" onkeydown="return false" >
                        <label for="appointment_time">Horário da atualização</label>
                    </div>
                </div>
    
            </div>
    
            <div class="input-group">
                <label for="description" class="input-group-text"><span class="bi bi-card-text"></span></label>
                <div class="form-floating">
                    <input name="descricao" id="description" class="form-control" placeholder="Descreva aqui o que mudou no estado do paciente" required autocomplete="off"></textarea>
                    <label for="description">Descreva aqui o que mudou no estado do paciente</label>
                    <div class="invalid-feedback">Você precisa informar o que mudou no estado do paciente!</div>
                </div>
            </div>


            <button type="submit" class="btn btn-dark">Registrar evolução</button>
        </form>
    </div>
</div>

<script src="/scripts/document/novaEvolucao.js"></script>

<script>
    
</script>


<%- include(`../partials/footer.ejs`) %>