<%- include(`../partials/header.ejs`) %>

<!-- TODO: Perguntar a Brenno se o input date precisa ter apenas as datas futuras, ou as passadas também -->

<div class="container my-3"> 

    <!-- 
        Lista de alterações para implementar no modal:
        1. Retirar o form e colocar dentro do modal.
        2. Quando clicar em "Cadastrar novo atendimento", o modal deve abrir.
        3. Criar uma api para pegar os dados desse formulário e retornar um json com os dados do atendimento.
     -->

    <div class="d-flex flex-column gap-3">
        
        <h1 class="display-5">Novo Atendimento</h1>
        <hr class="my-0">

        <div>
            <label for="patient-name" class="mb-1">Nome do Paciente</label>
            <div class="input-group">
                <label for="patient-name" class="input-group-text"><span class="bi bi-person"></span></label>
                <select name="id_pessoa" id="patient-name" class="form-control">
                    <% patients.forEach( patient => { %>
                        <option value="<%= patient.id_pessoa %>"><%= patient.nome %> - <%= cpfFormatter(patient.cpf) %></option>
                    <% }); %>
                </select>
            </div>
        </div>

        <div class="grid">

            <div>
                <label for="appointment_date" class="mb-1">Data da Consulta</label>
                <div class="input-group">
                    <label for="appointment_date" class="input-group-text"><span class="bi bi-calendar"></span></label>
                    <input type="date" name="data_atendimento" id="appointment_date" class="form-control" onkeydown="return false" required>
                </div>
            </div>

            <div>
                <label for="appointment_time" class="mb-1">Horário da Consulta</label>
                <div class="input-group">
                    <label for="appointment_time" class="input-group-text"><span class="bi bi-clock"></span></label>
                    <input type="time" name="horario_atendimento" id="appointment_time" class="form-control" onkeydown="return false" >
                </div>
            </div>

        </div>
        
        <div id="add-item-container" class="d-flex justify-content-between align-items-center">
            <h1 class="display-6 m-0">Itens selecionados</h1>
            <button type="button" class="btn btn-dark" id="add-item-button"><span class="bi bi-plus"></span> Adicionar item</button>
        </div>

        <hr class="m-0">

        <div id="itens-container" class="grid">
            
        </div>

        <hr class="m-0">

        <button class="btn btn-dark" onclick="gettingData()" data-bs-toggle="modal" data-bs-target="#exampleModal">Realizar atendimento</button>
    </div>

    <div class="modal modal-lg fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deseja realizar o atendimento?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column gap-3" id="modal-body">
                    
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/scripts/document/novoAtendimento.js"></script>

<script>
    document.getElementById(`add-item-button`).addEventListener(`click`, () => {
        addItem(`<%- JSON.stringify(itens) %>`)
    })
</script>

<%- include(`../partials/footer.ejs`) %>
